services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: bank
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -U user -d bank
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_URL: postgres://user:pass@db:5432/bank?sslmode=disable
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app


volumes:
  pgdata: